<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Новое бронирование</title>
</head>
<body>
<p>Коттедж: {{cottageType}}.</p>
<p>Доп.услуги: {{additionalOptions}}.</p>
<p>Дата заезда: {{arrivalDate}}.</p>
<p>Дата выезда: {{departureDate}}.</p>
<p>Взрослые: {{adults}}.</p>
<p>Дети: {{children}}.</p>
<p>Имя: {{name}}.</p>
<p>Телефон: {{phone}}.</p>
<p>Почта: {{email}}.</p>
<br/>
<p>Дата бронирования: {{date}}</p>
</body>
</html>
